{% extends 'layout.html' %}

{% block title %}
	Credentials
{% endblock %}

{% block content %}
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">
                    <div class="credential-sidebar-wrap" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">
                                <img src="/static/images/bg1.png" alt="BG" class="bg-img">
                                <div class="img-box">
                                    <img src="/static/1703936004369_DtauWfP.jpg" alt="About Me">
                                </div>
                                <h2>{{ personal_info.first_name }} {{ personal_info.last_name }}</h2>
                                <p>Backend developer</p>
        
                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="{{ site.linkedin }}" target="_blank"><i class="iconoir-linkedin"></i></a></li>
                                    <li><a href="{{ site.github }}" target="_blank"><i class="iconoir-github"></i></a></li>
                                    <li><a href="{{ site.telegram }}" target="_blank"><i class="iconoir-telegram"></i></a></li>
                                    <li><a href="{{ site.instagram }}" target="_blank"><i class="iconoir-instagram"></i></a></li>
                                </ul>
        
                                <a href="{% url 'contact_me' %}" class="theme-btn">Contact Me</a>
                            </div>
                        </div>
                    </div>

                    <div class="credential-content flex-1">
                        <div class="credential-about" data-aos="zoom-in">
                            <h2>About Me</h2>
                        {{ personal_info.long_description | linebreaksbr }}
                        </div>

                        <div class="credential-edc-exp credential-experience">
                            <h2 data-aos="fade-up">Experience</h2>
                            {% for experience in experiences %}
                            	<div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>{{ experience.start_year }} - {{ experience.end_year }}</h4>
                                <h3>{{ experience.position }}</h3>
                                <h5>{{ experience.company }}</h5>
                                <p>{{ experience.about_experience }}</p>
                            </div>
                            {% endfor %}


                        </div>

                        <div class="credential-edc-exp credential-education">
                            <h2 data-aos="fade-up">Education</h2>
                            {% for education in educations %}
                            	<div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>{{ education.start_year }} - {{ education.end_year }}</h4>
                                <h3>{{ education.level }} Degree in {{ education.major }}</h3>
                                <h5>University of {{ education.university }}</h5>
                                <p>{{ education.about_education }}</p>
                            </div>
                            {% endfor %}

                        </div>

                        <div class="skills-wrap">
                            <h2 data-aos="fade-up">Skills</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                {% for skill in skills %}
                                	<div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">{{ skill.percentage }}%</span>
                                    <h3 class="name">{{ skill.title }}</h3>
                                    <p>{{ skill.level }}</p>
                                </div>
                                {% endfor %}


                            </div>
                        </div>

                        <div class="skills-wrap awards-wrap">
                            <h2 data-aos="fade-up">Awards</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                {% for award in awards %}
                                	<div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">{{ award.earn_year }}</span>
                                    <h3 class="name">{{ award.title }}</h3>
                                    <p>{{ award.description | linebreaksbr}}</p>
                                    <a href="{{ award.credit_link }}" target="_blank">Certification link</a>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}